#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#Virtual environments
.venv/
env/
venv/

#Environment variables and secrets
.env

#Build / distribution
build/
dist/
*.egg-info/

#Logs
*.log

#Testing
.pytest_cache/
.coverage
htmlcov/

#Docker
*.tar
*.img

#IDE settings
.vscode/
.idea/

#Jupyter
.ipynb_checkpoints/
